In [2]:
import pandas as pd

In [29]:
data = pd.read_csv('/Users/macbook/pythonProjects/Master/iPythonNotebooks/restaurantPandas/taphouse.csv', error_bad_lines=False)

In [30]:
data.head()

     Date lunch  dinner  total  hours
0  8/5/15   NaN      91    NaN      5
1  8/6/15   NaN     100    NaN      5
2  8/7/15   NaN     160    NaN     10
3  8/8/15   NaN     160    NaN      8
4  8/9/15   NaN      75    NaN      8

In [31]:
print data

       Date lunch  dinner  total  hours
0    8/5/15   NaN      91    NaN      5
1    8/6/15   NaN     100    NaN      5
2    8/7/15   NaN     160    NaN     10
3    8/8/15   NaN     160    NaN      8
4    8/9/15   NaN      75    NaN      8
5   8/10/15   off     NaN    NaN    NaN
6   8/11/15   off     NaN    NaN    NaN
7   8/12/15   off       0    NaN    NaN
8   8/13/15   NaN     NaN    NaN    NaN
9   8/14/15   NaN     NaN    NaN    NaN
10  8/15/15   NaN     NaN    NaN    NaN
11  8/16/15   NaN     NaN    NaN    NaN
12  8/17/15   NaN     NaN    NaN    NaN
13  8/18/15   NaN     NaN    NaN    NaN
14  8/19/15   NaN     NaN    NaN    NaN
15  8/20/15   NaN     NaN    NaN    NaN
16  8/21/15   NaN     NaN    NaN    NaN
17  8/22/15   NaN     NaN    NaN    NaN
18  8/23/15   NaN     NaN    NaN    NaN
19  8/24/15   NaN     NaN    NaN    NaN
20  8/25/15   NaN     NaN    NaN    NaN
21  8/26/15   NaN     NaN    NaN    NaN
22  8/27/15   NaN     NaN    NaN    NaN

In [32]:
data.plot(kind='area')